*{
    background-color: lightslategrey;
}
li {
    color: fuchsia
}

ol.orange {
    color: darkgoldenrod
}

.orange {
    color: coral
}

div.orange {
    color: orange
}

div {
    padding: 10mm;
    border: solid 2mm lightpink;
    margin: 2mm;
    background-color: darkcyan;

}