
li {
    color: fuchsia
}

ol.orange {
    color: darkgoldenrod
}

.orange {
    color: coral
}

div.orange {
    color: orange
}

div {
    width: 8cm;
    height: fit-content;
    padding: 10mm;
    border: solid 2mm lightpink;
    margin: 2mm;
    background-color: darkcyan;

}
h3{
    text-shadow: 4px 2px #ff0000;
}